/* Ejercicio 5 posicionamiento */

.uno{
    box-sizing: border-box;
    background-color:yellow;
    width: 500px;
    height: 500px;
    position: absolute;
    padding: 40px;
    border: 2px;
    
}

.dos{
    box-sizing: border-box;
    background-color: green;
    width: 300px;
    height: 300px;
    position: absolute;
    padding: 75px;
    transform: translate(100px,100px);
}

.tres{
    box-sizing: border-box;
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    border: dotted 20px black;
    transform: translate(175px, 175px);
    

}