@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

$color-primary: #416dea;
$color-primary-dark: #1e3983;
$btn-font-color: #fff;
$btn-line-height: 1.3;
$btn-font-weight: 500;
$color-success: #05c46b;
$color-alert: #ff3f34;
$color-alternate: #808e9b;
$font-family: 'Roboto Slab', serif;